<nav class="bg-dark">
	<div class="navbar navbar-expand-lg container navbar navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app.home') }}">Symfony</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ path('app.home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('events.index', { 'slug': null }) }}">Events</a>
					</li>
				</ul>
				<ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
					<li class="nav-item ms-3">
						<div class="btn-group">
							<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"/>
								<span>{{ app.user ? app.user.email : "Menu" }}</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								{% if app.user %}
									<li class="nav-item">
										<p class="dropdown-item"><strong><i class="fa-solid fa-user me-2"></i> {{ 'ROLE_ADMIN' in app.user.roles ? 'Admin' : 'User' }}</strong></p>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li class="nav-item">
										<a href="{{ path('events.mine') }}" class="dropdown-item">My events</a>
									</li>
									<li class="nav-item">
										<a href="{{ path('events.participations') }}" class="dropdown-item">My participations</a>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li class="nav-item">
										<a href="{{ path('profile.index') }}" class="dropdown-item">My Account</a>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li class="nav-item">
										<a href="{{ path('auth.logout') }}" class="dropdown-item">Logout</a>
									</li>
								{% else %}
									<li class="nav-item">
										<a href="{{ path('auth.login') }}" class="dropdown-item">Login</a>
									</li>
									<li class="nav-item">
										<a href="{{ path('auth.register') }}" class="dropdown-item">Register</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
